Etedali_StepFunction/state-machine.json
{
  "Comment": "COMP 306 Lab 4 Mohammad Etedali",
  "StartAt": "Is uploaded object is an image?",
  "States": {
    "Is uploaded object is an image?": {
      "Type": "Pass",
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.key",
              "StringEquals": "image"
            },
            {
              "Variable": "$.suffix",
              "StringMatches": "png"
            },
            {
              "Variable": "$.suffix",
              "StringMatches": "jpg"
            },
            {
              "Variable": "$.suffix",
              "StringMatches": "jpeg"
            },
            {
              "Variable": "$.suffix",
              "StringMatches": "jfif"
            }
          ],
          "Next": "Parallel"
        }
      ],
      "Default": "Success"
    },
    "Parallel": {
      "Type": "Parallel",
      "End": true,
      "Branches": [
        {
          "StartAt": "Generate Thumbnail",
          "States": {
            "Generate Thumbnail": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-2:024285884739:function:Etedali_ThumbnailImage:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Detect Label Save DynamoDb",
          "States": {
            "Detect Label Save DynamoDb": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "arn:aws:lambda:us-east-2:024285884739:function:Etedali_DetectImage:$LATEST"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                }
              ],
              "End": true
            }
          }
        }
      ]
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}